<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>微凉的晨露沾湿黑礼服
石板路有雾父在低诉
无奈的觉悟只能更残酷
一切都为了通往圣堂的路
吹不散的雾隐没了意图
谁轻柔踱步停住
还来不及哭穿过的子弹就带走温度</string>
	<string>恐惧刻在孩子们脸上
麦田已倒向战车经过的方向
蒲公英的形状 在飘散 它绝望的飞翔
她只唱 只想 这首止战 之殇
恶夜燃烛光 天破息战乱
殇歌传千里 家乡平饥荒
天真在这条路上 跌跌撞撞
她被芒草割伤</string>
	<string>看我 我手指放松
我目光如龙 当敌人是空
我战法无穷 我攻势如风用单车入宫</string>
	<string>透明的眼 纯净的笑脸
只看颜色就能辩忠奸</string>
	<string>那些断翅的蜻蜓 散落在这森林
而我的眼睛 没有丝毫同情
失去你 泪水混浊不清
失去你 我连笑容都有阴影</string>
	<string>你优雅地像一只猫</string>
	<string>哪里有彩虹告诉我
能不能把我的愿望还给我
为什么天这么安静
所有的云都跑到我这里
有没有口罩一个给我
释怀说了太多就成真不了
也许时间是一种解药
</string>
	<string>你说我比大笨钟还笨
要怎么比
吵架我太安静
钟至少还有声音
要我离开
我早就打包好行李
喝完这杯咖啡我就走
答应你</string>
	<string>小纸伞 遮雨也遮月光
白杨木影子被拉长 像我对你的思念总不完
原来我从未习惯 你已不在我身旁</string>
	<string>我靠着稻草人 吹着风 唱着歌 睡着了 哦 哦
午后吉它在虫鸣中更清脆 哦 哦
阳光洒在路上不怕心碎
珍惜 一切就算没有拥有</string>
</array>
</plist>
